{% extends "base.html" %}

{% block background %}{% endblock %}

{% block action-header %}{% endblock %}

{% block back-href %}/customers{% endblock %}
{% block back-href-name %}Back{% endblock %}
{% block back-href-class %}ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-arrow-l{% endblock %}

{% block content %}
    <div style="font-size: 0.7em">
        <b>Name: </b>{{ customer.name }} | <b>Phone: </b>{{ customer.phone }}
    </div>
    <form class="ui-filterable">
        <input id="input-elements" data-type="search" placeholder="Search ...">
    </form>
    <form>
        <fieldset data-role="controlgroup" data-iconpos="right" data-filter="true" data-input="#input-elements">
            {% for element in elements %}
                <input name="check{{ element.id }}" id="check{{ element.id }}" type="checkbox" class="checks" value="{{ element.id }}" desc="{{ element.name }}">
                <label data-filtertext="{{ element.name }}" for="check{{ element.id }}">{{ element.name }}</label>
            {% endfor %}
        </fieldset>
    </form>
    <a href="#" id="btnselect" onclick="myFunction();" class="ui-alt-icon ui-btn ui-shadow ui-corner-all ui-icon-check ui-btn-icon-left">Select</a>
    <script>

        var lista = "";

        $(".checks").click(function () {
            var count = 0;
            lista = "";
            $(".checks").each(function () {
                if ($(this).is(":checked")){
                    lista += $(this).attr('value') + ",";
                    count ++;
                }
            });
            if (lista.length > 0){
                lista = lista.substring(0, lista.length-1);
            }
            $("#counter").html(count);
        });

        function myFunction() {
            if (lista.length > 0) {
                location.href = "/hours?id={{ customer.id }}&lista="+lista;
            }else{
                alert('You must select one element from the list.');
            }
        }
    </script>
{% endblock %}
